/bootstrap/compiled.php
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

.sass-cache

DEVELOPMENT
STAGE
STAGING
PRODUCTION
TEST

!app/*/DEVELOPMENT
!app/*/STAGE
!app/*/PRODUCTION
!app/*/TEST
node_modules
tmpcookie.txt
uploads/*
tmp
