<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence=".*[^(index)].php" />
        </denyUrlSequences>
        <alwaysAllowedUrls>
          <remove url="index.php" />
          <add url="index.php" />
        </alwaysAllowedUrls>
        <hiddenSegments>
          <remove segment="app" />
          <add segment="app" />
          <remove segment="bootstrap" />
          <add segment="bootstrap" />
          <remove segment="node_modules" />
          <add segment="node_modules" />
        </hiddenSegments>
        <fileExtensions>
          <remove fileExtension=".yml" />
          <add fileExtension=".yml" allowed="false" />
          <remove fileExtension=".htaccess" />
          <add fileExtension=".htaccess" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
		<defaultDocument>
			<files>
				<remove value="index.php" />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>

				<rule name="No WWW" enabled="true" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
					</conditions>
					<action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Laravel" stopProcessing="true" enabled="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:1}" />
        </rule>

			</rules>
    </rewrite>

    <!-- <asp scriptErrorSentToBrowser="true"/> -->
    <!-- <httpErrors errorMode="Detailed"/>  -->
	</system.webServer>
	<system.web>
  	<customErrors mode="Off"/>
  </system.web>
</configuration>

