@charset "UTF-8"

// ;

// **************************************************

@import "reset"
@import "grid"
@import "bourbon/bourbon"
@import "mixins"

// **************************************************

$total_width: 100%
$total_columns: 12
$container_margin: 2%
$gutter_width: 6%
$max_width: 960px

@mixin grid-container
  +container
  +pie-clearfix
  width: $total_width
  max-width: $max_width
  margin: 0 auto
  padding: 0 $container_margin

@mixin subgrid
  +container
  +pie-clearfix
  margin: 0
  width: 100%

.clearfix
  +pie-clearfix

.container
  +grid-container
  position: relative

.subgrid
  +subgrid
  position: relative

*
  +box-sizing(border-box)

// **************************************************

body
  font-family: Arial
