@charset "UTF-8";

// ;

// **************************************************

@mixin clearfix {
  *zoom: 1;
  overflow: hidden;
}

@mixin legacy-pie-clearfix {
  *zoom: 1;
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}

@mixin pie-clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// **************************************************

@import "reset";
@import "grid";
@import "bourbon/bourbon";

// **************************************************

$total_width: 100%;
$total_columns: 12;
$container_margin: 2%;
$gutter_width: 6%;
$max_width: 960px;

// **************************************************

@mixin grid-container {
  width: $total_width;
  max-width: $max_width;
  margin: 0 auto !important;
  @include container;
  @include pie-clearfix;
}

@mixin subgrid {
  margin: 0 !important;
  width: 100% !important;
  position: relative;
  @include container;
  @include pie-clearfix;
}

@mixin row {
  @include pie-clearfix;
}

// **************************************************

.clearfix {
  @include pie-clearfix;
}

.container {
  @include grid-container;
  position: relative;
}

.grid-container {
  @include grid-container;
  position: relative;
  width: 100%;
}

.subgrid {
  @include subgrid;
}

.row {
  @include row;
}

* {
  @include box-sizing(border-box);
}

// **************************************************

body {
  font-family: Arial;
}